/PokerDice/PokerDice/obj
/PokerDice/PokerDice/bin
/PokerDice.UI/PokerDice/obj
/PokerDice/UTs.Executor/obj
/PokerDice/UTs.Executor/bin
/PokerDice/.vs
/PokerDice/PokerDice.UI/bin
/PokerDice/PokerDice.UI/obj
/PokerDice/PokerDice.AI/bin
/PokerDice/PokerDice.AI/obj